@font-face {
    font-family: starJedi;
    src: url('/fonts/starjedi.ttf') format('truetype');
}

body {
    font: 15px verdana, sans-serif;
    text-align: center;
    color: yellow;
    background-color: black;
}

h1 {
    text-transform: capitals;
    font-family: 'starJedi', sans-serif;
    font-size: 400%;
}

h3 {
    text-decoration: underline;
}

ul {
    margin: auto;
    width: 100px;
}

p {
    text-align: justify;
    margin: auto;
    width: 250px;
}